{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<div style="position: relative;">

    <img src="" alt="fly" style="position: absplute;">
    <span style="position: absolute;">Welcome</span>

</div>

<div class="container">
  <img src="https://financialtribune.com/sites/default/files/field/image/17january/04-ff-eating_survey_285-ab_entehaye_safhe_chap.jpg" alt="Snow" style="width:100%;">
    <div class="centered">BiGFooD's</div>
</div>


{% endblock content %}